<%= form_for(@subscription) do |f| %>
	<div class="row">
		<div class="large-12 columns">
			<label>
				Location to send the forecast for:
			<%= f.text_field :location %>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label>
				Email to receive forecast:
				<%= f.text_field :email %>
			</label>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<label>
				(Optional) Date to start receiving emailed forecasts:
				<%= f.text_field :start %>
			</label>
		</div>
		<div class="large-6 columns">
			<label>
				(Optional) Date to stop receiving emailed forecasts:
				<%= f.text_field :end %>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<%= f.submit class: "button" %>
		</div>
	</div>
<% end %>
