<div class="row">
	<div class="large-12 columns">
		<h1>Subscriptions</h1>
	</div>
</div>

<% if flash[:success] %>
<div class="row">
	<div class="large-6 columns">
		<div data-alert class="alert-box success">
			<%= flash[:success] %>
		</div>
	</div>
<div>
<% end %>

<div class="row">
	<div class="large-12 columns">
		<table>
			<thead>
				<tr>
					<th>Sent to</th>
					<th>Location</th>
					<th>Start</th>
					<th>End</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% @subscriptions.each do |subscription| %>
				<tr class="subscription">
					<td><%= subscription.email %></td>
					<td><%= subscription.location %></td>
					<td><%= subscription.start %></td>
					<td><%= subscription.end %></td>
					<td>
						<%= link_to 'Edit', edit_subscription_path(subscription) %>
						|
						<%= link_to 'Delete', subscription_path(subscription), method: 'delete' %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= link_to 'Add new subscription', new_subscription_path %>
	</div>
</div>
